.chart {
	shape-rendering: crispEdges;
}

.mini text {
	font: 9px sans-serif;	
}

.main text {
	font: 12px sans-serif;	
}

.month text {
	text-anchor: start;
}

.laneText {
	vertical-align: middle;
}

.todayLine {
	stroke: blue;
	stroke-width: 1.5;
}

.axis line, .axis path {
	stroke: black;
}

.miniItem {
	stroke-width: 6;	
}

.future {
	stroke: gray;
	fill: #ddd;
}

.paper {
	stroke: #fde802;
	fill: #fde802;
	color:#fde802;
}

.noti {
	stroke: #00c0ff;
	fill: #00c0ff;
	color: #00c0ff;
}

.cam {
	stroke: #00d914;
	fill: #00d914;
	color: #00d914;
}

.con {
	stroke: #fe9595;
	fill: #fe9595;
	color: #fe9595;
}

.workshop {
	stroke: #A34B4B;
	fill: #A34B4B;
	color: #A34B4B;
}

.complexItem {
	cursor: pointer;
}

.review-request {
	stroke: #0000ff;
	stroke-width:2;
	fill: #ff0000;
}

.paper-review {
	stroke: #ff0000;
	color: #ff0000;
}

.brush .extent {
	stroke: gray;
	fill: blue;
	fill-opacity: .165;
}